body{
    margin:0px;
    /* font-family: 'Alegreya Sans', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Roboto Slab', serif;
}

/* Nav Section */

.hamburger-inner .hamburger-box .hamburger--arrow .hamburger{
    background:red !important;
}

.scroll-on-top-navbar{
    background:rgba(255, 255, 255, 0);
}

.scroll-on-top-navbar-logo{
    width:140px;
    opacity: 0.8;   
}

.scroll-on-top-nav-item{
    color:rgba(255, 255, 255, 0.8) !important;
    font-weight:700;
    font-size:15px;
    margin:5px;
    /* text-shadow:2px 2px 10px rgba(0,0,0,0.1); */
    transition-duration: 0.2s;
    border-bottom: dotted rgba(255, 255, 255, 0.0) 5px;
    border-top: dotted rgba(255, 255, 255, 0.0) 5px;

}

.scroll-on-top-nav-item:hover{
    transition-duration: 0.2s;
    color:rgba(255, 255, 255, 1) !important;
    border-bottom: dotted rgba(255, 255, 255, 0.3) 5px;    
}

#scroll-on-top-makeAReservationBtn{
    border: dotted rgba(255, 255, 255, 0.1) 5px;
}

#scroll-on-top-makeAReservationBtn:hover{
    border: double rgba(255, 255, 255, 0.3) 5px;
}

/* Nav Alt */

.scroll-variable-navbar{
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    /* border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; */
    transition: 0.4s;
}

.scroll-variable-navbar-hidden{
    top:-100px;
    transition: 0.4s; 
}

.scroll-variable-navbar-logo{
    width:140px;
    opacity: 1;   
}

.scroll-variable-nav-item{
    color:rgba(15, 36, 0, 0.8) !important;
    font-weight:700;
    font-size:15px;
    margin:5px;
    /* text-shadow:2px 2px 10px rgba(0,0,0,0.1); */
    /* transition-duration: 0.2s; */
    border-bottom: dotted rgba(255, 255, 255, 0.0) 5px;
    border-top: dotted rgba(255, 255, 255, 0.0) 5px;

}

.scroll-variable-nav-item:hover{
    /* transition-duration: 0.2s; */
    color:rgba(105,170,6, 1) !important;
    border-bottom: dotted rgba(105,170,6, 0.3) 5px;    
}

#scroll-variable-makeAReservationBtn{
    border: dotted rgba(105,170,6, 0.2) 5px;
}

#scroll-variable-makeAReservationBtn:hover{
    border: double rgba(105,170,6, 0.3) 5px;
}

/* Home Screen Slide */

.homeScreenSlide{
    width: 100%;
    height:100vh;
    background:linear-gradient(to right, rgba(0,69,75,0.2),rgba(0,69,75,0.4)),
                                 url("../images/365.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); */
}

.title{
    color: rgba(255, 255, 255, 0.99);
    font-size: 50px;
    width: 50vw;
    text-align: center;
    font-weight: 100;
    text-shadow:2px 2px 4px rgba(0,0,0,0.5);

}
.fa-angle-double-down{
    position: absolute;

   
    bottom: 60px;

    color: rgba(255, 255, 255, 0.6);
    font-size: 60px;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

/* Details Slide */

.detailsSlide{
    width:100%;
    background:linear-gradient(to right,
                               rgba(21,48,0,0.4),
                               rgba(21,48,0,0.8)),
                                 url("../images/background3.jpg");
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed;    */    
}

.details-text{
    width: 55%;
    color: rgba(255,255,255,1);
    font-size: 30px;
    padding-top:50px;
    padding-bottom: 50px;
    font-weight: 100;
}

/* Gallery Slide */
.gallerySlide{
    width: 100%;
    height: 700px;
    background:linear-gradient(to right, rgba(18,41,0, 0.7),rgba(18,41,0, 0.9)), url("../images/gallery_bg.jpg");

}

.owl-carousel img{
height:550px;
width: auto !important;
margin:auto!important;
border:5px solid rgba(255, 255, 255, 0.8);
border-radius: 2px;
height: calc(100vh - 92px);
background-size:cover;
background-position: center;
}

.owl-item{
    padding: 20px;
}

.owl-stage{
    display: flex;
    align-items: center;    
}

.owl-carousel img{
    max-height: calc(100vh - 170px);
    max-width: 80vw !important;
    width: auto !important;
    margin:auto!important;
    /* margin-top: 20px !important; */
    border:5px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    vertical-align: middle !important;
}

.owl-dots{
    text-align: center;
    padding: 5px 0px 20px 0px;
}

.owl-dot{
    width: 15px;
    height:15px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
    margin:5px;
}

.owl-dot.active{
    background: rgba(255, 255, 255, 0.8)!important;
}
.fa-chevron-left{
    font-size: 30px;
    width: 97vw;
    color: bisque;
    position: absolute;
    text-align: left;
    right:0;
}
.fa-chevron-right{
    font-size: 30px;
    width: 97vw;
    color: bisque;
    position: absolute;
    text-align: right;
}
/* Reservation Slide */
.reservationSlide{
    width:100%;
    height:600px;
    /* background:linear-gradient(to right,
                                rgba(36,5,5,0.05),
                                rgba(36,5,5,0.3)); */
}

.reservation-poster{
    width:50vw;
    height:100%;
    background:linear-gradient(to right,
                                rgba(36,5,5,0.65),
                                rgba(36,5,5,0.90)),
                                  url("../images/grafeio.jpg");
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.reservation-title{
    color: rgba(255, 255, 255, 1);
    font-weight: 100;
    font-size: 50px;
    width: 35vw;
    text-align: center;
    font-weight: 100;
    /* text-shadow:2px 2px 4px rgba(0,0,0,0.5); */
}

.reservation-text{
    color: rgba(255, 255, 255, 0.9);
    font-weight: 100;
    font-size: 22px;
    width: 42vw;
    text-align: center;
    font-weight: 100;
    padding:25px;
}

.reservation-form{
    width:50vw;
    /* background: gray; */
}

.reservation-form-container{
    min-width:200px;
    background:white;
}

.input-explainer{
    color:rgb(143, 37, 28);
    font-size: 13px;
    font-weight: 400;
}

.reservation-hint{
    color:rgba(0,0,0,0.3);
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
}

.reservation-form input, .select-PersonsNumber{
    padding:10px 15px 10px 15px;
    margin:10px 0px 10px 0px;
    background:white;
    color:rgba(0,0,0,0.4);
    border: solid rgba(0,0,0,0.15) 1px;
}

.form-input-maxWidth{
    width:100%;
}

.form-input-halfWidth{
    width:180px;
}

.reservation-form input::placeholder{ 
    color:rgba(0,0,0,0.3);
}

.reserveBtn{
    width: 100%;
    background:linear-gradient(to right,
    rgba(36,5,5,0.8),
    rgba(36,5,5,0.9));
    border: none;
    padding: 10px 15px 10px 15px;
    color:white;
}
.reserveBtn:hover{
    background:linear-gradient(to left,
    rgba(36,5,5,0.8),
    rgba(36,5,5,0.9));
}

/* Quality Slide */

.qualitySlide{
    width:100%;
    height:600px;
    background: url("../images/watermark-cut.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.qualitySlide .container{
    height:600px;

}

.quality-poster{
    width: 30%;
}

.quality-poster img{
    width: 300px;
    border-radius: 2px;
}

.quality-text{
    width: 70%;
    padding: 23px;
    color: rgb(27, 61, 3);
    font-size: 25px;
    font-weight: 300;
}

/* Contact Slide */
.contactSlide{
    width:100%;
}

#map{
    width:50vw;
    height:60vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

/* getDirections btn */

button.getDirections::before{
    content:url("../images/route-solid.svg");
    width: 13px !important;
    display: inline-block;
    margin: 1px 7px 1px 1px!important;
    opacity: 0.7;    
}

button.getDirections {
    font-weight: bold;
    font-size: 15px!important;
    color: rgb(0, 0, 0, 0.7)!important;
    width: auto!important;
    padding: 5px 10px 5px 10px;
}

.mapboxgl-ctrl{
    margin-right:1vw!important;
}   

/*map-top-right-controls padding*/
/* .mapboxgl-ctrl-top-right{
    padding-right: 2vw;
    padding-top: 1vh;
} */

/*Disable compass at map control icons*/
.mapboxgl-ctrl-compass {
    display: none !important;
}
.contactDetails{
    width: 50vw;
    height:60vh;
}
.contactContainer{
    width: 50%;
    padding-left: 2vw;
    height: 100%;
}
.contactDetails-container{
    min-width:100px;
}
.contactDetails-Section{
    margin-bottom: 5px;
    display: flex;
    align-items: top;
}
.details-info{
    font-size: 14px;
    font-weight: 300;
    color:rgba(54, 24, 6, 0.70);
    margin: 15px 10px 10px 5px;
    font-family: sans-serif;
    text-shadow:2px 2px 4px rgba(0,0,0,0.1);
}
.fa-icons{
    margin: 10px;
    margin-top: 17px;
    width: 19px;
    font-size: 21px;
}
.fa-map-marker-alt{
    color:  rgba(36, 92, 94, 0.75);
}
.fa-phone{
    color:  rgba(40, 112, 45, 0.75);
}
.fa-clock{
    color:  rgba(78, 124, 145, 0.75);
}
.fa-at{
    color: rgba(177, 108, 18, 0.75);
}
.fa-face{
    color:	rgba(47, 107, 153, 0.75);
}
.fa-inst{
    color:  rgba(139, 30, 67, 0.75);
}

/* Send Message Slide */

.sendMessage-slide{
    width:100%;
    height:250px;
}
.sendMessage-poster{
    width:44vw;
    height:100%;
    background:linear-gradient(to right,
    rgba(201, 167, 141, 0.171),
    rgba(255, 255, 255, 0.103)
                                 );
}
.sendMessage-tittle{
    color: rgba(54, 24, 6, 0.70);
    font-weight: 100;
    font-size: 40px;
    width: 35vw;
    text-align: center;
    font-weight: 100;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
}
.sendMessage-text{
    color: rgba(54, 24, 6, 0.75);
    font-weight: 100;
    font-size: 18px;
    width: 40vw;
    text-align: center;
    font-weight: 100;
    padding:5px;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
}
.input-explainer-msg{
    color:rgba(54, 24, 6, 0.75);
    font-size: 13px;
    font-weight: 400;
    margin: 10px 10px 0px 25px;

}
.sendMessage-info{
    width: 26vw;
}
.form-input-msg{
    padding:3px 10px 3px 8px;
    margin: 2px 10px 0px 25px;
    background:white;
    color:rgba(0,0,0,0.4);
    border: solid rgba(0,0,0,0.15) 1px;
}
.sendMessage-container{
    width: 29vw;
    height: 100%;
}
.messagetxt{
    height: 100%;
    max-height: 95px;
}
.sendMessageBtn{
    min-width: 100px;
    max-width: 393px;
    background:linear-gradient(to right,
    rgba(54, 24, 6, 0.75),
    rgba(54, 24, 6, 0.85));
    border: none;
    padding: 5px 10px 5px 10px;
    margin: 25px 10px 0px 25px;
    color:white;
}
.sendMessageBtn:hover{
    background:linear-gradient(to left,
    rgba(54, 24, 6, 0.75),
    rgba(54, 24, 6, 0.85));
}

/* Footer Slide */

.myfooter{
    background: linear-gradient(to right, rgba(40,12,0,0.6),rgba(40,12,0,0.95)), url("../images/369.jpg");
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    color:rgba(255, 255, 255, 0.8);    
}

.myfooter .footer-logo{
    padding:40px 0px 20px 0px;
}

.myfooter-social-media a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.6);
    font-size: 20px;
    padding:15px;
    transition-duration: 0.2s;
}

.myfooter-social-media a:hover{
    color:rgba(255, 255, 255, 0.9);
    transition-duration: 0.2s;
}

.myfooter .copyright{
    color:rgba(255, 255, 255, 0.5);
    padding: 15px;
}

.myfooter .developers{
    color:rgba(255, 255, 255, 0.4);
    font-size: 12px;
    padding:15px;
}

.myfooter .developer-link{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.4);
    transition-duration: 0.2s;
}

.myfooter .developer-link:hover{
    color:rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    transition-duration: 0.2s;
}

.dividerSlide{
    height:90vh;
    background:linear-gradient(to right,
                            rgba(40,40,40, 0.7),
                            rgba(40,40,40,0.9)),
                            url("../images/gallery_bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* Helpers */

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover,
.input:active, 
 input:active,
.input:focus, 
 input:focus,
.input:hover, 
 input:hover{
    /* border:none !important; */
    outline:none !important;
}